body {
  background-image: url(assets/Página\ de\ receita.png);
  background-size: cover;
  background-position: center;
  font-family: "Alice", serif;
  color: #573A37;
  margin: 0;
  padding: 0;
}

#page {
  max-width: 800px;
  padding: 24px;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin: 48px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}

h1 {
  line-height: 140%;
  font-size: 48px;
  /* Aumentado de 40px para 48px */
  margin-bottom: 16px;
  color: #291B1A;
}

h2 {
  font-size: 32px;
  /* Aumentado de 28px para 32px */
  margin-top: 24px;
  color: #291B1A;
  padding: 16px;
}

p {
  line-height: 1.6;
  /* Mantido para melhorar a legibilidade */
  font-size: 22px;
  /* Aumentado de 18px para 22px */
  margin-bottom: 16px;
}

ul {
  padding-left: 0;
  list-style-position: inside;
  text-align: left;
  font-size: 22px;

  /* Aumentado para combinar com os parágrafos */
}

li {
  margin-top: 20px;
}

.footer_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
}

footer {
  background-color: #F0E8C2;
  border-radius: 5px;
  color: #FF0000;
  font-weight: bolder;
  padding: 1rem;
  text-align: center;
  width: 100%;
  max-width: 800px;
  font-size: 20px;
  /* Aumentado de 16px para 20px */
}

.icon {
  text-align: center;
}

.my-class {
  color: #FF0000;
}

@media (max-width: 768px) {
  #page {
    width: 90%;
    padding: 16px;
    margin: 24px auto;
  }

  h1 {
    font-size: 42px;
    /* Ajuste proporcional no mobile */
  }

  h2 {
    font-size: 28px;
    /* Ajuste proporcional no mobile */
  }

  p {
    font-size: 18px;
    /* Ajuste proporcional no mobile */
  }

  ul {
    font-size: 18px;
    /* Ajuste proporcional no mobile */
  }

  footer {
    padding: 0.75rem;
    font-size: 16px;
    /* Ajuste proporcional no mobile */
  }
}

@media (max-width: 480px) {
  #page {
    padding: 16px;
    margin: 16px auto;
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h1 {
    font-size: 36px;
    /* Ajuste proporcional no mobile */
  }

  h2 {
    font-size: 24px;
    /* Ajuste proporcional no mobile */
  }

  p {
    font-size: 16px;
  }

  ul {
    font-size: 16px;
    /* Ajuste proporcional no mobile */
  }

  li {
    margin-top: 16px;
  }

  footer {
    padding: 0.5rem;
    font-size: 14px;
    /* Ajuste proporcional no mobile */
  }
}